@charset "utf-8";
/* CSS Document */
*{ margin:0px auto;}
body{ font-size:12px;}

.body{ width:980px; margin:0 auto;}
h2.title{
	font-size:16px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	margin-bottom:6px;
}
h2.title a{ font-size:12px; float:right; font-weight:normal;}
.shop_top{ height:460px;}

.shop_top dl{ width:390px; float:left; margin:6px;}
.shop_top dd{ float:left; margin:3px;}

.shop_top  ul{ display:block; list-style:none; margin-left:10px; float:right; width:550px; color:#666666;}

.shop_top  ul li{ height:28px; line-height:26px;} 

.shop_top  ul li a.border{
	padding:2px 4px;
	border: 1px solid #C8C9CD;

	margin-left:5px;

}
.shop_top  ul li a.border_bg{ padding:2px 4px;border: 1px solid #C8C9CD; 	background:#999;
	color:#FFF;}
	
.shop_top  ul li input.num{ width:50px;}