@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; font-size:12px;background:#FFF;
}
.w990{
	width:990px; margin:0 auto; padding:0;
}
.w980{
	width:980px; margin:0 auto; padding:0;
}
.w973{
	width:973px; margin:0 auto; padding:0;
}
.topdiv{
	background:url(images/top_bg.jpg) repeat-x; 
	height:28px; 
	color:#666; 
	left:0; 
	position:fixed; 
	_position:absolute; 
	top:0; 
	z-index:100; 
	width:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.blank9{
	clear:both;display:block;overflow:hidden;visibility:hidden;width:0px;height:0px
}
.f12{
	font:Verdana, Geneva, sans-serif; font-size:12px;
}
.f14{
	font:Verdana, Geneva, sans-serif; font-size:14px;
}
.line26{
	line-height:26px; height:26px;
}
div, ul, li, ol, p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.topdiv ul li {
    float: left;
}
.topdiv ul .li1{
	line-height: 26px;
    white-space: nowrap;
}
.topdiv ul li a{
	color: #666;
	text-decoration:none;
}
.topdiv ul li a:hover{
	color: #F48A00;
}
.topdiv ul .li2{
	background:url(images/top_mybaby.jpg) no-repeat scroll left center transparent;
	width:81px;
	height:26px;
	position:relative;
}
.topdiv ul .li2 .TreeList{
	position: absolute;
	top:23px;
    width: 79px;
}
.topdiv ul .li2 .TreeList .cat0 {
    left: 0;
    line-height: 28px;
    position: absolute;
    text-indent: 8px;
    top: -23px;
    width: 81px;
}
.topdiv ul .li2 .TreeList .cat1 {
    display: none;
}
.cart-number{
	color: #F48A00;
}
.ShopCartWrap .cart-container{
	color: #F48A00;
}
.topdiv ul li.li2H .TreeList {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #E5E5E5 #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-style: none solid solid;
    border-width: 0 1px 1px;
	z-index:99;
}
.topdiv ul li.li2H .TreeList .cat0 {
    text-indent: 7px;
    width: 81px;
}
.topdiv ul li.li2H .TreeList .cat1 {
    display: block;
    line-height: 26px;
    text-indent: 6px;
	width: 81px;
}
#head{
	height:135px;
	_height:107px;
}
#logo_head{
	margin:0 auto;
	padding:45px 0 0;
}
#search_head {
    position: relative;
    width: 646px;
}
#search_head .tel {
    position: absolute;
    right: 90px;
	font-weight:300;
}
table, td, th {
    vertical-align: top;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
#search_head .m_search{
	height:60px;
}
#search_head td.searchs {
    background: url("images/search_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 34px;
    padding-top: 26px;
    width: 574px;
}
.SearchBar table td {
    padding: 0 5px;
    vertical-align: middle;
}
.inputstyle {
    border-color: #777777 #CCCCCC #CCCCCC #777777;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    padding: 3px 5px;
	color:#999;
}
.SearchBar .inputstyle {
    padding: 2px;
}
#search_head td.searchs table td.search_label input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 25px;
    line-height: 25px;
    width: 430px;
	padding-left:25px
}
.btn_search {
    background:url(images/search_btn.jpg) no-repeat;
    border: 0 none;
    color: #E82509;
    cursor: pointer;
    font-size: 0;
    height: 28px;
    overflow: hidden;
    width: 93px;
}
#search_head td.search_word {
    padding-left: 10px;
    padding-top: 20px;
    width: 55px;
}
#search_head td.search_word a {
    color: #666666;
    display: block;
    line-height: 20px;
    white-space: nowrap;
}
#search_head .sleft {
    float: left;
    line-height: 25px;
}
#search_head .sleft a {
    color: #656565;
}
#search_head .sleft a:hover {
    color: #F48A00;
}
#search_head .sleft font {
    color: #666666;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
}
#search_head .sright {
    color: #F48A00;
    float: right;
    line-height: 25px;
}
#menu{
	background: url("images/menu_bg.jpg") no-repeat center center; 
	width:100%;
	height:37px;
	min-width:991px;
	margin:0 auto;
}
.menu_main{
	background: url("images/banner_bg.jpg") no-repeat; 
	width:991px;
	min-width:991px;
	margin:0 auto;
}
.menu_main ul li{
	float:left;
	line-height:33px;
	padding:0 24px;
}
.menu_main ul li.menu_h{
	float:left;
	line-height:33px;
	padding:0 20px;
}
.menu_main ul li a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
}
.menu_main ul li a:hover{
	color:#555;
}
.menu_main ul li.menu_h a:hover{
	color:#EE771D;
}