{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="form-div">
  <form name="TimeInterval" action="user_export.php" method="post" style="margin:0px">
    会员最后登录时间：开始&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' readonly="readonly" /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="选择" class="button"/>&nbsp;&nbsp;
    结束&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_date', '%Y-%m-%d', false, false, 'selbtn2');" value="选择" class="button"/>&nbsp;&nbsp;
    <input type="checkbox" name="type" value="1" class="" />有订单
    <input type="hidden" name="act" value='user_export' />
    <input type="submit" name="submit" value="确定" class="button" />
  </form>
  <br />
  <form name="TimeInterval" action="user_export.php" method="post" style="margin:0px">
    会员ID：开始&nbsp;
    <input name="start_id" type="text" id="start_id" size="15" value='' />&nbsp;&nbsp;
    结束&nbsp;
    <input name="end_id" type="text" id="end_id" size="15" value=''  />&nbsp;&nbsp;
    <input type="checkbox" name="type" value="1" class="" />有订单
    <input type="hidden" name="act" value='user_export' />
    <input type="submit" name="submit" value="确定" class="button" />
  </form>
</div>

{include file="pagefooter.htm"}