@charset "utf-8";
/* CSS Document */
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #CA0000;
}
.AllWrapInside {
    margin: auto;
    width: 970px;
}
div, ul, li, p {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.clear0 {
    clear: both;
    margin: 0;
    padding: 0;
}
.clear10 {
    clear: both;
    margin: 0;
    padding: 10px 0 0;
}
.fd_top {
    margin: auto;
    width: 990px;
}
.fd_top1 {
    background: url("images/fd_top1.png") repeat-x scroll left center transparent;
    height: 28px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.fd_top1 .top_menu1 {
    color: #333333;
    float: left;
    line-height: 28px;
    width: 450px;
}
.fd_top1 .top_menu1 font {
    padding-left: 10px;
    padding-right: 10px;
}
.fd_top1 .top_menu2 {
    float: right;
}
.fd_top1 .top_menu2 ul li {
    float: left;
}
.fd_top1 .top_menu2 ul li a {
    color: #666666;
}
.fd_top1 .top_menu2 ul li a:hover {
    color: #CA0000;
}
.fd_top1 .top_menu2 ul li.li1 {
    line-height: 28px;
    padding-right: 15px;
    white-space: nowrap;
}
.trustlogin {
    display: none;
}
.fd_top1 .top_menu2 ul li.li3 {
    color: #666666;
    line-height: 28px;
    padding-left: 15px;
}
.fd_top1 .top_menu2 ul li.li3 a {
    color: #CA0000;
}
.fd_top1 .top_menu2 ul li.li3 a:hover {
    text-decoration: underline;
}
.fd_top1 .top_menu2 ul li.li3 b {
    color: #CA0000;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}
.fd_top1 .top_menu2 ul li.li2 {
    background: url("images/myuser.png") no-repeat scroll left center transparent;
    height: 28px;
    position: relative;
    width: 81px;
}
.fd_top1 .top_menu2 ul li.li2 .TreeList {
    position: absolute;
    top: 23px;
    width: 79px;
}
.fd_top1 .top_menu2 ul li.li2 .TreeList div {
    font-weight: normal;
}
.fd_top1 .top_menu2 ul li.li2 .TreeList .cat0 {
    left: 0;
    line-height: 28px;
    position: absolute;
    text-indent: 8px;
    top: -23px;
    width: 81px;
}
.fd_top1 .top_menu2 ul li.li2 .TreeList .cat1 {
    display: none;
}
.fd_top1 .top_menu2 ul li.li2H .TreeList {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #E5E5E5 #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.fd_top1 .top_menu2 ul li.li2H .TreeList .cat0 {
    text-indent: 7px;
    width: 79px;
}
.fd_top1 .top_menu2 ul li.li2H .TreeList .cat1 {
    display: block;
    line-height: 22px;
    text-indent: 6px;
}
.fd_top2 .logo {
    float: left;
    padding-top: 30px;
    width: 270px;
}
.fd_top2 .logo_right {
    float: right;
    padding-top: 15px;
    position: relative;
    width: 664px;
}
.fd_top2 .logo_right .tell {
    position: absolute;
    right: 90px;
    top: 18px;
}
.fd_top2 .logo_right .tell font {
    color: #FF0000;
    font-size: 12px;
}
.fd_top2 .logo_right td.searchs {
    background: url("images/searchbg.gif") repeat scroll 0 0 transparent;
    height: 33px;
    padding-top: 27px;
    width: 574px;
}
.fd_top2 .logo_right td.searchs table td {
    margin: 0;
    padding: 0;
}
.fd_top2 .logo_right td.searchs table td.search_label span {
    display: none;
}
.fd_top2 .logo_right td.searchs table td.search_label {
    float: left;
    padding-left: 10px;
    padding-right: 15px;
}
.fd_top2 .logo_right td.searchs table td.search_label input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 25px;
    line-height: 25px;
    width: 450px;
}
.btn_advsearch {
    display: none;
}
.fd_top2 .logo_right td.search_word {
    padding-left: 10px;
    padding-top: 20px;
    width: 80px;
}
.fd_top2 .logo_right td.search_word a {
    color: #666666;
    display: block;
    line-height: 20px;
    white-space: nowrap;
}
.fd_top2 .logo_right td.search_word a:hover {
    color: #CA0000;
}
.fd_top2 .logo_right .sleft {
    float: left;
    line-height: 25px;
}
.fd_top2 .logo_right .sleft font {
    color: #666666;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
}
.fd_top2 .logo_right .sleft a {
    color: #656565;
}
.fd_top2 .logo_right .sleft a:hover {
    color: #CA0000;
}
.fd_top2 .logo_right .sright {
    color: #CA0000;
    float: right;
    line-height: 25px;
}
.fd_top3 {
    background: none repeat scroll 0 0 #E8240A;
    height: 35px;
    width: 100%;
}
.fd_top3 .cat1 {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}
.fd_top3 .cat1 a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.fd_top3 .catfirst a {
    color: #CA0000;
}
.fd_top3 .fd_top {
    background: url("images/nav.png") no-repeat scroll left top transparent;
    height: 35px;
}
.onliness {
    background: url("images/scroll.png") repeat scroll 0 0 transparent;
    bottom: 30px;
    height: 65px;
    position: absolute;
    right: 5px;
    width: 21px;
}
.onliness a {
    cursor: pointer;
    display: block;
    height: 65px;
    width: 21px;
}
.Navigation font {
    display: none;
}
.GoodsSearchWrap #gallerybar.fixed {
    top: 25px;
}
.webnav {
    clear: both;
}
.webnav ul li {
    float: left;
    padding-right: 13px;
}
.webnav ul li a {
    cursor: pointer;
    display: block;
    height: 35px;
}
.webnav ul li a:hover {
    background-image: url("images/navh.png");
    background-repeat: no-repeat;
}
.webnav ul li a.visited {
    background-image: url("images/navv.png");
    background-repeat: no-repeat;
}
.webnav ul li.li1 a {
    width: 78px;
}
.webnav ul li.li2 a {
    width: 103px;
}
.webnav ul li.li3 a {
    width: 103px;
}
.webnav ul li.li4 a {
    width: 103px;
}
.webnav ul li.li5 a {
    width: 103px;
}
.webnav ul li.li6 a {
    width: 103px;
}
.webnav ul li.li7 a {
    width: 103px;
}
.webnav ul li.li8 a {
    width: 72px;
}
.webnav ul li.li9 {
    float: right;
}
.webnav ul li.li9 a {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    line-height: 35px;
    width: 100px;
}
.webnav ul li.li9 a:hover {
    text-decoration: underline;
}
.webnav ul li.li1 a:hover {
    background-position: 0 0;
    width: 78px;
}
.webnav ul li.li2 a:hover {
    background-position: -91px 0;
    width: 103px;
}
.webnav ul li.li3 a:hover {
    background-position: -207px 0;
    width: 103px;
}
.webnav ul li.li4 a:hover {
    background-position: -323px 0;
    width: 103px;
}
.webnav ul li.li5 a:hover {
    background-position: -439px 0;
    width: 103px;
}
.webnav ul li.li6 a:hover {
    background-position: -555px 0;
    width: 103px;
}
.webnav ul li.li7 a:hover {
    background-position: -671px 0;
    width: 103px;
}
.webnav ul li.li8 a:hover {
    background-position: -787px 0;
    width: 72px;
}
.webnav ul li.li1 a.visited {
    background-position: 0 0;
    width: 78px;
}
.webnav ul li.li2 a.visited {
    background-position: -91px 0;
    width: 103px;
}
.webnav ul li.li3 a.visited {
    background-position: -207px 0;
    width: 103px;
}
.webnav ul li.li4 a.visited {
    background-position: -323px 0;
    width: 103px;
}
.webnav ul li.li5 a.visited {
    background-position: -439px 0;
    width: 103px;
}
.webnav ul li.li6 a.visited {
    background-position: -555px 0;
    width: 103px;
}
.webnav ul li.li7 a.visited {
    background-position: -671px 0;
    width: 103px;
}
.webnav ul li.li8 a.visited {
    background-position: -787px 0;
    width: 72px;
}
.gift_List {
    border: 1px solid #E5E5E5;
}
.gift_prcw {
    float: left;
    width: 24.9%;
}
.gift_prc {
    margin: auto;
    padding-top: 15px;
    width: 172px;
}
.gift_prc .pic img {
    border: 1px solid #E5E5E5;
    height: 140px;
    width: 170px;
}
.gift_prc .name {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
}
.gift_prc .price {
    color: #666666;
    line-height: 22px;
}
.gift_prc .point {
    background: url("images/giftbtn.png") no-repeat scroll left center transparent;
    height: 29px;
    line-height: 29px;
}
.gift_prc .point span {
    display: block;
    float: left;
    padding-left: 25px;
}
.gift_prc .point a {
    display: block;
    float: right;
    width: 66px;
}
.pageMain .index_prclist_title {
    width: 760px;
}
.topMenu {
    float: left;
    width: 210px;
}
.topMenu .topMenu_title {
    background: url("images/btmmenu_left.png") no-repeat scroll left bottom transparent;
    height: 29px;
}
.classmenu {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/classmenu.gif") no-repeat scroll left top #FFF5EE;
    border-color: -moz-use-text-color #FCB37C #FCB37C;
    border-right: 1px solid #FCB37C;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding-left: 4px;
    padding-right: 4px;
    width: 200px;
}
.classmenu .GoodsCategoryWrap {
}
.classmenu .GoodsCategoryWrap ul li.c-cat-depth-1 {
    background: url("images/onemenu.gif") no-repeat scroll right center transparent;
    border-top: 1px solid #FDD5AC;
    clear: both;
    height: 34px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 200px;
}
.classmenu .GoodsCategoryWrap ul li a {
    margin: 0;
    padding: 0;
}
.classmenu .GoodsCategoryWrap ul li.lilast {
    background: none repeat scroll 0 0 #FFF5EE;
}
.classmenu .GoodsCategoryWrap ul li a.onetitle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #FFF5EE -moz-use-text-color #FFF5EE #FFF5EE;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    color: #B45A01;
    display: block;
    font-weight: bold;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: left;
    text-indent: 28px;
    top: 0;
    width: 190px;
    z-index: 1;
}
.classmenu .GoodsCategoryWrap ul li a.onetitle font {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
}
.classmenu .GoodsCategoryWrap ul li.lilast a.onetitle {
    color: #333333;
}
.classmenu .GoodsCategoryWrap ul li div {
    display: none;
}
.classmenu .GoodsCategoryWrap ul li.oneH {
    z-index: 5;
}
.classmenu .GoodsCategoryWrap ul li.oneH a.onetitle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/onetitle.gif") no-repeat scroll left center transparent;
    border-color: #FCB37C -moz-use-text-color #FCB37C #FCB37C;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    color: #CB3F15;
}
.classmenu .GoodsCategoryWrap ul li.oneH a.alast {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #FFF5EE -moz-use-text-color #FFF5EE #FFF5EE;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    color: #333333;
}
.classmenu .GoodsCategoryWrap ul li.oneH div {
    background: none repeat scroll 0 0 #FBEFEF;
    border: 2px solid #FCB37C;
    display: block;
    left: 190px;
    position: absolute;
    top: 0;
    width: 500px;
}
.classmenu .GoodsCategoryWrap ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    width: 330px;
}
.classmenu .GoodsCategoryWrap ul li ul li {
    clear: both;
    line-height: 30px;
}
.classmenu .GoodsCategoryWrap ul li ul li.c-cat-depth-2 a {
    color: #CB3F15;
    font-weight: bold;
    padding-left: 10px;
}
.classmenu .GoodsCategoryWrap ul li ul li.c-cat-depth-2 table {
    width: 330px;
}
.classmenu .GoodsCategoryWrap ul li ul li.c-cat-depth-2 table a {
    color: #333333;
    float: left;
    font-weight: normal;
    line-height: 25px;
    padding: 0;
    text-indent: 10px;
    width: 33%;
}
.classmenu .GoodsCategoryWrap ul li ul.ulLast {
    background: none repeat scroll 0 0 #FBEFEF;
    float: right;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
}
.classmenu .GoodsCategoryWrap ul li ul.ulLast li.c-cat-depth-2 table {
    width: 170px;
}
.classmenu .GoodsCategoryWrap ul li ul.ulLast li.c-cat-depth-2 a {
    color: #000000;
}
.classmenu .GoodsCategoryWrap ul li ul.ulLast li.c-cat-depth-2 table a {
    color: #585858;
    width: 49%;
}
.classmenu .GoodsCategoryWrap ul li ul.ulLast ul {
    background: none repeat scroll 0 0 #FBEFEF;
}
.classmenu .GoodsCategoryWrap ul li ul li.c-cat-depth-2 a:hover {
    text-decoration: underline;
}
.web_body {
    margin: auto;
    padding-top: 10px;
    width: 990px;
}
.index1_1 {
    float: left;
    width: 210px;
}
.AD_TOP {
    background: url("images/titlebg.gif") repeat-x scroll left top transparent;
    border: 1px solid #D6D6D6;
    clear: both;
    padding-top: 10px;
}
.AD_TOP ul li {
    clear: both;
    padding-left: 15px;
}
.AD_TOP ul li p {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-indent: 8px;
    white-space: nowrap;
    width: 185px;
}
.AD_TOP ul li p.img {
    background: none repeat scroll 0 0 transparent;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-indent: 0;
}
.index1_2 {
    float: right;
    width: 770px;
}
.index1_2_1 {
    float: left;
    height: 234px;
    overflow: hidden;
    padding-left: 2px;
    width: 566px;
}
.index1_2_2 {
    float: right;
    overflow: hidden;
    width: 190px;
}
.GOODS_GROOM {
    border: 1px solid #D6D6D6;
    height: 85px;
    overflow: hidden;
    width: 188px;
}
.GOODS_GROOM .up {
    background: url("images/indexHotArrow.gif") no-repeat scroll left center transparent;
    cursor: pointer;
    float: left;
    height: 85px;
    width: 9px;
}
.GOODS_GROOM .down {
    background: url("images/indexHotArrow.gif") no-repeat scroll right center transparent;
    cursor: pointer;
    float: right;
    height: 85px;
    width: 9px;
}
.scrollText {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 85px;
    overflow: hidden;
    width: 170px;
}
.scrollText ul {
    width: 2000px;
}
.scrollText ul li {
    float: left;
    width: 170px;
}
.dylist {
    margin: auto;
    width: 190px;
}
.dylist td {
    line-height: 23px;
}
.dylist td.tleft {
    width: 140px;
}
.dylist td.tleft div {
    color: #CC0009;
    font-size: 9px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
}
.dylist td.tleft div a {
    font-size: 12px;
    padding-left: 5px;
}
.dylist td.tright {
    color: #CC0009;
    font-family: Tahoma;
    text-align: right;
    width: 50px;
}
.dylist td.tright font {
    font-size: 12px;
}
.dylist td.tright strong {
    font-weight: normal;
}
.dylist td.tright b {
    font-weight: normal;
}
.a_bigImg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 85px;
    margin: auto;
    width: 180px;
}
.a_bigImg span {
    display: block;
    float: left;
    line-height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 85px;
}
.a_bigImg span a {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    color: #585858;
    display: block;
    float: none;
    text-indent: 0;
    white-space: normal;
    width: auto;
}
.a_bigImg span font {
    clear: both;
    color: #CC0009;
    display: block;
    float: none;
    font-family: Tahoma;
    font-size: 12px;
    padding-top: 8px;
}
.a_bigImg span font strong {
    font-size: 22px;
    font-weight: normal;
}
.a_bigImg a.img {
    display: block;
    float: right;
    width: 85px;
}
.a_bigImg a.img img {
    height: 85px;
    width: 85px;
}
.ANNOUNCE {
    background: url("images/indexNotice.gif") no-repeat scroll left top transparent;
    border-bottom: 1px solid #D6D6D6;
    clear: both;
    padding-bottom: 5px;
    padding-top: 32px;
    width: 100%;
}
.ANNOUNCE_ad {
    clear: both;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}
.ANNOUNCE_info {
    margin: auto;
    padding-top: 5px;
    width: 90%;
}
.ANNOUNCE_info ul li {
    color: #333333;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.ANNOUNCE_info a {
    color: #606060;
    padding-left: 3px;
}
.hide_show {
    background: url("images/hide_show.gif") no-repeat scroll left top transparent;
    clear: both;
    height: 31px;
    position: relative;
}
.hide_show span {
    background: url("images/hide_show.gif") no-repeat scroll left bottom transparent;
    display: block;
    height: 30px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 30px;
}
.hide_show ul li {
    cursor: pointer;
    float: left;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
.hide_show ul li.title1 {
    padding-left: 30px;
    width: 65px;
}
.hide_show ul li.title2 {
    width: 74px;
}
.hide_show ul li.showcs {
    background: url("images/hide_show.gif") no-repeat scroll right bottom transparent;
}
.show_info {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D6D6D6 #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    clear: both;
    padding-bottom: 10px;
    padding-top: 2px;
    width: 198px;
}
.show_info .itemsWrap {
    margin: 0;
    padding: 0;
}
.show_info .item {
    margin: 0;
    padding: 0;
}
.show_info .GoodsList table {
    margin: 0;
    padding: 0;
}
.show_info table td {
    margin: 0;
    padding: 0;
}
.show_info .goodsDesc h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100px;
    word-spacing: normal;
}
.show_info .goodsDesc ul li {
    clear: both;
    line-height: 25px;
}
.WEB_BRAND {
    clear: both;
    position: relative;
}
.WEB_BRAND .top {
    background: url("images/bg_allbrand_2.gif") repeat-x scroll left -94px #FCFAEB;
    clear: both;
    height: 60px;
}
.WEB_BRAND .top .top1 {
    background: url("images/bg_allbrand_1.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 60px;
    width: 150px;
}
.WEB_BRAND .top .top2 a {
    display: none;
}
.WEB_BRAND .top .top2 {
    background: url("images/bg_allbrand_2.gif") no-repeat scroll right -11px transparent;
    float: right;
    height: 60px;
    width: 70px;
}
.WEB_BRAND .mid {
    border-left: 1px solid #F4E0BD;
    border-right: 1px solid #EEEEEC;
}
.WEB_BRAND .mids {
    background: none repeat scroll 0 0 #FCFAEB;
    border-right: 1px solid #F4E0BD;
    padding: 0 10px 10px;
    width: 967px;
}
.WEB_BRAND .btn {
    background: url("images/bg_allbrand_2.gif") repeat-x scroll left top transparent;
    clear: both;
    height: 10px;
}
.WEB_BRAND .btn .btn1 {
    background: url("images/bg_allbrand_2.gif") no-repeat scroll left -72px transparent;
    float: left;
    height: 10px;
    width: 60px;
}
.WEB_BRAND .btn .btn2 {
    background: url("images/bg_allbrand_2.gif") repeat scroll left -83px transparent;
    float: right;
    height: 10px;
    width: 60px;
}
.index1_2 .WEB_BRAND .top {
    height: 34px;
}
.index1_2 .WEB_BRAND .top .top1 {
    background: url("images/brandtitle.jpg") no-repeat scroll 0 0 transparent;
    height: 34px;
}
.index1_2 .WEB_BRAND .top .top2 a {
    display: block;
    line-height: 34px;
    text-align: left;
}
.index1_2 .WEB_BRAND .top .top2 {
    height: 34px;
}
.index1_2 .WEB_BRAND .mids {
    padding: 0 10px 5px;
    width: 747px;
}
.index1_2 .WEB_BRAND .BRAND_PIC {
    overflow: hidden;
    width: 967px;
}
.index1_2 .WEB_BRAND .BRAND_PIC ul {
    width: 5000px;
}
.WEB_BRAND .clearfix {
    position: absolute;
    right: 10px;
    top: 8px;
}
.WEB_BRAND .clearfix a {
    color: #666666;
}
.WEB_BRAND .clearfix a:hover {
    color: #CA0000;
}
.BrandListWrap td {
    text-align: center;
}
.BrandListWrap td img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    height: 31px;
    padding: 5px;
    width: 85px;
}
.BrandListWrap td a {
    display: block;
    line-height: 22px;
}
.qhs {
    height: 271px;
    margin: auto;
    position: relative;
}
.qhs ul {
    background: url("images/indexSlideBox.gif") no-repeat scroll center bottom transparent;
    bottom: 0;
    height: 35px;
    left: 0;
    position: absolute;
    width: 560px;
}
.qhs ul li {
    cursor: pointer;
    float: left;
    height: 31px;
    line-height: 31px;
    padding-top: 4px;
    text-align: center;
    width: 140px;
}
.qhs ul li.visited {
    background: url("images/indexSlideButton.gif") repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.qhs .cxjinfohide {
    height: 240px;
    overflow: hidden;
    position: relative;
}
.qhs .cxjinfo {
    border-top: 1px solid #CCCCCC;
    clear: both;
    height: 2000px;
    position: relative;
}
.qhs .cxjinfo .item {
    clear: both;
    display: block;
    height: 240px;
}
.GROOMlist {
    background: url("images/yh.png") no-repeat scroll left top transparent;
    border: 1px solid #D6D6D6;
    height: 62px;
    overflow: hidden;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 188px;
}
.GROOMlist .up {
    background: url("images/GROOMlist.png") no-repeat scroll left 25px transparent;
    cursor: pointer;
    display: inline;
    float: left;
    height: 60px;
    margin-right: 10px;
    width: 18px;
}
.GROOMlist .down {
    background: url("images/GROOMlist.png") no-repeat scroll right 25px transparent;
    cursor: pointer;
    display: inline;
    float: right;
    height: 60px;
    margin-left: 5px;
    width: 18px;
}
.GROOMlist .glist {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 130px;
}
.GROOMlist .glist .cxjinfo {
    width: 900px;
}
.GROOMlist .glist .cxjinfo .item {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 130px;
}
.SPECIALtitle {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/tejiatitle.gif") no-repeat scroll left center transparent;
    border-color: #D6D6D6 #D6D6D6 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    clear: both;
    height: 25px;
    line-height: 25px;
    padding-right: 10px;
    padding-top: 15px;
    text-align: right;
}
.SPECIALlist {
    border: 1px solid #D6D6D6;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 768px;
}
.SPECIALlist .up {
    float: left;
    padding: 43px 5px 0;
    width: 22px;
}
.SPECIALlist .up a {
    background: url("images/tejiaupdown.gif") repeat scroll right top transparent;
    display: block;
    height: 34px;
    width: 22px;
}
.SPECIALlist .up a:hover {
    background: url("images/tejiaupdown.gif") repeat scroll right bottom transparent;
}
.SPECIALlist .down {
    float: right;
    padding: 43px 5px 0;
    width: 22px;
}
.SPECIALlist .down a {
    background: url("images/tejiaupdown.gif") repeat scroll left top transparent;
    display: block;
    height: 34px;
    width: 22px;
}
.SPECIALlist .down a:hover {
    background: url("images/tejiaupdown.gif") repeat scroll left bottom transparent;
}
.SPECIALlist .glist {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 120px;
    overflow: hidden;
    width: 704px;
}
.SPECIALlist .glist .cxjinfo {
    width: 2000px;
}
.SPECIALlist .glist .cxjinfo .item {
    float: left;
    height: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 704px;
}
.SPECIALlist .glist .cxjinfo .item a {
    display: block;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}
.ibtm {
    clear: both;
    width: 100%;
}
.i_left {
    float: left;
    width: 210px;
}
.i_right {
    float: right;
    width: 766px;
}
.index_prclist_title {
    background: url("images/index_prclist_title.jpg") repeat-x scroll left bottom transparent;
    border-top: 2px solid #F05843;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 766px;
}
.index_prclist_title h3 {
    background: url("images/index_prclist_title.jpg") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: 15px;
    top: 0;
    width: 152px;
}
.index_prclist_title p {
    background: url("images/index_prclist_title.jpg") no-repeat scroll right -120px transparent;
    color: #666666;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 0;
    text-align: right;
}
.index_prclist_title p a {
    color: #666666;
    padding-left: 7px;
    padding-right: 7px;
}
.index_prclist_title p a:hover {
    color: #FF6600;
}
.Dy5Title {
    background: url("images/Dy5Title.png") no-repeat scroll left top transparent;
    display: none;
}
.Dy5ListL {
    display: none;
}
.Dy5Title h3 {
    background: none repeat scroll 0 0 transparent;
}
.Dy5Title p {
    background: none repeat scroll 0 0 transparent;
}
.index_prclist_mid {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D6D6D6 #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    width: 764px;
}
.ireg {
    clear: both;
    height: 38px;
}
.ireg a {
    background-image: url("images/reg.png");
    cursor: pointer;
    display: block;
    height: 38px;
}
.ireg a.ireg1 {
    background-position: 0 0;
    float: left;
    width: 102px;
}
.ireg a.ireg1:hover {
    background-position: 0 -38px;
}
.ireg a.ireg2 {
    background-position: -102px 0;
    float: right;
    width: 88px;
}
.ireg a.ireg2:hover {
    background-position: -102px -38px;
}
.iregh {
    clear: both;
    height: 38px;
}
.iregh a {
    background-image: url("images/regh.png");
    cursor: pointer;
    display: block;
    height: 38px;
}
.iregh a.ireg1 {
    background-position: 0 0;
    float: left;
    width: 102px;
}
.iregh a.ireg1:hover {
    background-position: 0 -38px;
}
.iregh a.ireg2 {
    background-position: -102px 0;
    float: right;
    width: 88px;
}
.iregh a.ireg2:hover {
    background-position: -102px -38px;
}
.i_qginfo {
    border: 1px solid #D5D5D5;
    width: 988px;
}
.i_qgtitle {
    background: url("images/qgtitle.png") no-repeat scroll left top transparent;
    height: 32px;
}
.i_qgtitle p {
    color: #E4270A;
    float: right;
    font-size: 12px;
    line-height: 32px;
    padding-right: 10px;
    text-align: right;
}
.i_qgtitle p span {
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
}
.midad {
    background: none repeat scroll 0 0 #F6F6F6;
    clear: both;
    display: none;
    height: 37px;
    margin: auto;
    width: 100%;
}
.midad ul li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.index_prclist_mid3 {
    float: right;
    width: 220px;
}
.ltitle {
    background: url("images/lbg.gif") no-repeat scroll left top transparent;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-top: 12px;
    text-indent: 40px;
}
.linfo {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D4D4D4 #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding-top: 5px;
}
.linfo .GoodsListWrap {
    margin: auto;
    width: 206px;
}
.linfo .itemsWrap {
    background: url("images/dashed.gif") repeat-x scroll center top transparent;
    margin: 0;
    padding: 0;
}
.linfo .itemsWrap b {
    background: url("images/Hotlist.gif") no-repeat scroll left center transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Tahoma;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 14px;
}
.linfo .itemsWrap .item {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 185px;
}
.linfo .itemsWrap table {
    margin: 0;
    padding: 0;
}
.linfo .itemsWrap table td {
    margin: 0;
    padding: 0;
}
.linfo .itemsWrap table td .goodsImg {
    display: none;
}
.linfo .itemsWrap table td.goodsDesc {
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 185px;
}
.linfo .itemsWrap table td.goodsDesc h6 {
    display: block;
    float: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-indent: 5px;
    width: 130px;
}
.linfo .itemsWrap table td.goodsDesc ul {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
    width: 50px;
}
.linfo .itemsWrap table td.goodsDesc ul .price0 {
    display: none;
}
.linfo .itemsWrap table td.goodsDesc ul .price1 {
    font-family: Tahoma;
    font-size: 12px;
}
.linfo .itemsWrapfirst {
    background: none repeat scroll 0 0 transparent;
}
.linfo .itemsWrapH {
    padding: 6px 0;
}
.linfo .itemsWrapH table td .goodsImg {
    display: block;
    padding-left: 5px;
}
.linfo .itemsWrapH table td.goodsDesc {
    padding-left: 5px;
    width: 110px;
}
.linfo .itemsWrapH table td.goodsDesc h6 {
    clear: both;
    float: none;
    height: auto;
    line-height: 18px;
    text-indent: 0;
    white-space: normal;
    width: 110px;
    word-spacing: normal;
}
.linfo .itemsWrapH table td.goodsDesc ul {
    clear: both;
    float: none;
    text-align: left;
    width: auto;
}
.linfo .itemsWrapH table td.goodsDesc ul .price1 {
    font-family: Tahoma;
    font-size: 16px;
}
.linfo .itemsWrapH b {
    background: url("images/Hotlist.gif") no-repeat scroll right center transparent;
}
.allmenu .GoodsListWrap {
    margin: auto;
    width: 200px;
}
.allmenu .itemsWrap .item {
    width: 180px;
}
.allmenu .itemsWrap table td.goodsDesc {
    width: 180px;
}
.allmenu .itemsWrapH table td.goodsDesc h6 {
    width: 100px;
}
.fd_Foot100 {
    border-top: 1px solid #E5E5E5;
    clear: both;
}
#fd_Foot {
    margin: auto;
    width: 990px;
    clear:both;
}
.footArticle .fArt {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 175px;
}
.footArticle .fArt_e {
    background: none repeat scroll 0 0 transparent;
}
.footArticle .fArt_f {
    float: right;
    width: 284px;
}
.footArticle .fArt .cat1 {
    background: url("images/fArt.gif") no-repeat scroll left bottom transparent;
    font-size: 12px;
	font-weight:bold;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0;
}
.footArticle .fArt .cat2 {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 10px;
    white-space: nowrap;
}
.footArticle .fArt .cat2 a {
    color: #3E3E3E;
	font-size:12px;
}
.footArticle .fArt .cat2 a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.Foot_Help {
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    height: 35px;
    overflow: hidden;
}
.Foot_Help .top {
    float: left;
    font-family: inherit;
    margin: 0;
    padding: 0;
    width: 65px;
}
.Foot_Help .top h3 {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.Foot_Help .body {
    float: left;
    margin: 0;
    padding: 0;
    width: 920px;
}
.Foot_Help .body .LinkList {
    margin: 0;
    padding: 0;

}
.Foot_Help .body .LinkList li{
	float:left;
	padding:0 5px;
	line-height:37px;
}
.Foot_Help .body .LinkList a{
	font-size:12px;
}

.Foot_Help .body td {
    line-height: 35px;
    margin: 0;
    padding: 0 15px 0 0;
}
.Foot_Help .body td a {
    color: #666666;
}
.Foot_Help .body td a:hover {
    text-decoration: underline;
}
.themefoot {
    color: #999999;
    line-height: 22px;
    text-align: center;
}
.pageSide {
    float: left;
    width: 200px;
}
.pageMain {
    float: right;
    width: 760px;
}
.allmenu_title0 {
    background: url("images/CLASS1title.gif") no-repeat scroll 0 0 transparent;
    color: #F46555;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    text-indent: 23px;
}
.allmenu_title0 span {
    display: none;
}
.allmenu_title0 span.block {
    display: block;
}
.allmenu_title {
    background: url("images/box178.gif") repeat scroll center top transparent;
    clear: both;
    color: #E24938;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    width: 100%;
}
.allmenu_title a {
    color: #E24938;
}
.allmenu_title a:hover {
    color: #E24938;
    text-decoration: underline;
}
.allmenu {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #F2BBBC #F2BBBC;
    border-right: 1px solid #F2BBBC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding-bottom: 5px;
    width: 208px;
}
.allmenus_title {
    background: url("images/boxs178.gif") repeat scroll center top transparent;
    clear: both;
    color: #5284CE;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    width: 100%;
}
.allmenus {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D5EAF8 #D5EAF8;
    border-right: 1px solid #D5EAF8;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding-bottom: 5px;
    width: 208px;
}
.allmenu {
    padding-top: 5px;
    position: relative;
}
.allmenu .GoodsCategoryWrap ul li {
    display: none;
    line-height: 22px;
}
.allmenu .GoodsCategoryWrap ul li.none {
    display: block;
}
.allmenu .GoodsCategoryWrap ul li.block {
    display: block;
}
.allmenu .GoodsCategoryWrap ul li.none li {
    display: block;
}
.allmenu .GoodsCategoryWrap ul li ul {
    padding-left: 15px;
}
.allmenu .GoodsCategoryWrap ul li ul ul {
    padding-left: 20px;
}
.allmenu .GoodsCategoryWrap ul li a.firsta {
    background: none repeat scroll 0 0 transparent;
    color: #F46555;
    font-size: 18px;
    left: 0;
    position: absolute;
    text-indent: 13px;
    top: -30px;
}
.allmenu .GoodsCategoryWrap ul li li a {
    font-weight: bold;
}
.allmenu .GoodsCategoryWrap ul li li li a {
    color: #666666;
    font-weight: normal;
}
.allmenu .GoodsCategoryWrap ul li a:hover {
    color: #FF6600;
}
.allmenu .GoodsCategoryWrap ul li.block a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    padding-left: 25px;
}
.allmenu .GoodsCategoryWrap ul li.block li a {
    font-weight: normal;
}
.allmenu .GoodsCategoryWrap ul li.block li li a {
}
.allmenugift ul li {
    background: none repeat scroll 0 0 transparent;
    line-height: 22px;
    padding-left: 13px;
}
.allmenugift ul li a {
    background: none repeat scroll 0 0 transparent;
}
.allmenugift ul li li {
}
.allmenugift ul li li a {
    color: #666666;
}
.pageSide .siderCommonBorder .top {
    background: url("images/top.gif") no-repeat scroll left center transparent;
    height: 37px;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.pageSide .siderCommonBorder .top h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}
.pageSide .siderCommonBorder .body {
    background: url("images/bdy.gif") repeat-x scroll left top transparent;
    border: 1px solid #D5D5D5;
    padding-bottom: 7px;
    padding-top: 10px;
}
.GoodsBrowsed {
    margin: auto;
    width: 95%;
}
.GoodsBrowsed .goodpic a {
    border: 1px solid #D5D5D5;
    padding: 1px;
}
.GoodsBrowsed .goodpic a img {
    height: 70px;
    width: 70px;
}
.GoodsBrowsed .view-time {
    line-height: 30px;
}
.GoodsBrowsed a {
    color: #555555;
}
.GoodsBrowsed a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.pageSide .clearfix .TreeList div {
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.pageSide .clearfix .TreeList div a {
}
.pageSide .clearfix .TreeList div.cat2 {
    font-weight: bold;
}
.pageSide .clearfix .TreeList div.cat3 {
    text-indent: 10px;
}
.GoodsSearchWrap {
   
}
.cmpresult .GoodsSearchWrap {
    border-top: 0 none;
}
.cmpresult .GoodsSearchWrap .items-list {
    border: 0 none;
}
.ArticleListWrap {
    border: 1px solid #D5D5D5;
    margin: 0;
    padding: 0;
    width: 188px;
}
.ArticleListWrap .Article-Tabs {
    background: url("images/Article-Tabs.png") repeat-x scroll left center transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
}
.ArticleListWrap .Article-Tabs div {
    border: 0 none;
    float: left;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 94px;
}
.ArticleListWrap .Article-Tabs .current {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ArticleListWrap .Article-Tabs .divfir {
    border-right: 1px solid #D5D5D5;
    width: 93px;
}
.ArticleListWrap .ArticleList {
    margin: auto;
    padding-top: 5px;
    width: 170px;
}
.ArticleListWrap .ArticleList td img {
    display: none;
}
.ArticleListWrap .ArticleList td {
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-indent: 7px;
}
.pageMain .GoodsSearchWrap #gallerybar {
    border: 0 none;
	background:#FFF;
    
}
.pageMain .GoodsSearchWrap #gallerybar table {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.pageMain .GoodsSearchWrap #gallerybar table .search_total {
    padding-left: 10px;
}
.pageMain .GoodsSearchWrap #gallerybar table .pager {
    float: right;
    padding-right: 10px;
}
.pageMain .GoodsSearchWrap .webpage {
    background: none repeat scroll 0 0 #F2F2F2;
    clear: both;
    margin-top: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.pageMain .GoodsSearchWrap .webpage .pager {
    float: right;
}
.i_left {
}
.i_left .siderCommonBorder {
}
.i_left .siderCommonBorder .top {
    background: url("images/ph.png") no-repeat scroll left center transparent;
    height: 32px;
    margin: 0;
    padding: 0;
}
.i_left .siderCommonBorder .body {
    border: 1px solid #D5D5D5;
    padding-bottom: 7px;
}
.i_left .siderCommonBorder .star-off {
    display: none;
}
.i_left .GoodsListWrap {
    margin: auto;
    width: 196px;
}
.i_left .item {
    height: 65px;
    margin: 0;
    padding-top: 40px;
    position: relative;
}
.i_left .goodsImg {
    clear: none;
    float: left;
}
.i_left .GoodsList .item h6 {
    border-top: 1px solid #F6EDE4;
    color: #CA0000;
    left: 0;
    padding-top: 7px;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 185px;
}
.i_left .GoodsList .item h6 a {
    color: #CA0000;
}
.i_left .GoodsList .item .goodsImg {
    border: 1px solid #DBD9DA;
    float: left;
    margin: 0;
    padding: 1px;
    width: 85px;
}
.i_left .GoodsListWrap .GoodsList .item .addcart .listact {
    background: url("images/buybtn.png") repeat scroll 0 0 transparent;
    height: 22px;
    width: 60px;
}
.i_left .GoodsListWrap .GoodsList .item ul {
    float: right;
    margin: 0;
    padding: 2px 0 0;
    width: 90px;
}
.i_left .GoodsListWrap .GoodsList .item ul li .price1 {
    color: #CA0000;
    display: block;
    font-weight: bold;
    line-height: 22px;
}
.i_left .AdvBanner {
    clear: both;
    padding-top: 10px;
}
.i_left .AdvBanner a img {
    width: 210px;
}
.index_prclist_mid .GoodsList {
    padding-top: 10px;
}
.index_prclist_mid .GoodsList .item {
    background: url("images/prcbg.png") no-repeat scroll center top transparent;
    padding: 2px 0 10px;
}
.index_prclist_mid .GoodsList .pic {
    margin: 0 auto;
    padding: 0;
}
.index_prclist_mid .GoodsList .info {
    line-height: 22px;
    margin: auto;
    width: 150px;
}
.index_prclist_mid .GoodsList .price {
    color: #CA0000;
    font-weight: bold;
}
.index_prclist_mid .GoodsList .price1 {
    color: #CA0000;
    font-weight: bold;
}
.index_prclist_mid .Dy5ListL .GoodsList .item {
    background: none repeat scroll 0 0 transparent;
}
.i_qginfo .GoodsList {
    padding-top: 10px;
}
.i_qginfo .GoodsList .item {
    background: url("images/prcbg.png") no-repeat scroll center top transparent;
    padding: 2px 0 10px;
}
.i_qginfo .GoodsList .pic {
    margin: 0 auto;
    padding: 0;
}
.i_qginfo .GoodsList .info {
    line-height: 22px;
    margin: auto;
    width: 150px;
}
.i_qginfo .GoodsList .price {
    color: #CA0000;
    font-weight: bold;
}
.i_qginfo .GoodsList .price1 {
    color: #CA0000;
    font-weight: bold;
}
.pageMain .GoodsListWrap {
	height: 120px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #EAEAEA;
	position:relative;
}
.pageMain .GoodsListWrap .shop_hot{ position:absolute; left:0; top:0 ; z-index:2;}
.pageMain .GoodsListWrap .item {
    float: left;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    width: 215px;
}
.pageMain .GoodsListWrap .item .star-off {
    display: none;
}
.pageMain .GoodsListWrap .item .addcart .listact {
    background: url("images/ljgm.png") repeat scroll 0 0 transparent;
    height: 28px;
    width: 100px;
}
.pageMain .GoodsListWrap .item h6 {
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
    white-space: normal;
}
.pageMain .GoodsListWrap .item ul {
}
.pageMain .GoodsListWrap .item ul li {
    clear: none;
    padding-top: 5px;
}
.pageMain .GoodsListWrap .item ul li .price0 {
    padding-left: 5px;
}
.AllWrapInside .items-gallery {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0 auto;
    padding: 10px 0;
}
.AllWrapInside .items-gallery .goodpic a {
    border: 1px solid #D7D7D7;
    padding: 5px;
}
.AllWrapInside .items-gallery .goodpic a img {
    border: 0 none;
    padding: 0;
}
.AllWrapInside .items-gallery .goodinfo {
    margin: auto;
}
.AllWrapInside .items-gallery .goodinfo h6 {
    height: 36px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.AllWrapInside .items-gallery .goodinfo h6 a {
    color: #555555;
}
.AllWrapInside .items-gallery .goodinfo h6 a font {
    color: #9C0001;
}
.AllWrapInside .items-gallery .goodinfo h6 a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.AllWrapInside .items-gallery .goodinfo .tdprice {
    padding-top: 5px;
    text-align: center;
}
.AllWrapInside .items-gallery .goodinfo .mktprice1 {
    color: #999999;
}
.AllWrapInside .items-gallery .goodinfo .price1 {
    color: #CA0000;
    font-size: 12px;
    padding-left: 10px;
}
.GoodsSearchWrap .items-list .goodpic a {
    border: 1px solid #D7D7D7;
}
.GoodsSearchWrap .items-list .goodinfo {
    width: 470px;
}
.GoodsSearchWrap .items-list .goodinfo h6 {
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    padding: 0;
}
.GoodsSearchWrap .items-list .goodinfo h6 a font {
    color: #9C0001;
}
.GoodsSearchWrap .items-list .goodinfo ul li {
    line-height: 25px;
}
.GoodsSearchWrap .items-list .mktprice1 {
    font-size: 12px;
    text-decoration: none;
}
.GoodsSearchWrap .items-list .price1 {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    padding-left: 15px;
}
.GoodsSearchWrap .items-list .saveprice1 {
    color: #9C0001;
    font-size: 12px;
}
.GoodsSearchWrap .items-list .button {
    width: 140px;
}
.GoodsSearchWrap .items-list .button {
    float: right;
}
.GoodsSearchWrap .items-list .button li {
    clear: both;
    display: block;
    float: none;
    margin-top: 5px;
    width: 140px;
}
.GoodsSearchWrap .items-list .button .zoom {
    display: none;
}
.picscroll {
    display: none;
}
.jiajsp {
    background: url("images/jiajs.png") no-repeat scroll left 10px transparent;
    height: 270px;
    padding-top: 10px;
    position: relative;
}
.jiajs_info {
    padding-left: 30px;
}
.jiajsp .onlsr {
    line-height: 18px;
    position: absolute;
    right: 27px;
    top: 15px;
}
.jiajsp .onlsr a {
    color: #666666;
}
.jiajsp .onlsr a:hover {
    text-decoration: underline;
}
.goods-detail-pic {
    border: 1px solid #767676;
}
.btnBar .btn-fastbuy {
    background: url("images/btnbg.png") no-repeat scroll left top transparent;
    height: 39px;
    margin-right: 15px;
    width: 134px;
}
.btnBar .btn-buy {
    background: url("images/btnbg.png") no-repeat scroll right top transparent;
    height: 39px;
    width: 133px;
}
.buyinfo td {
    color: #666666;
    line-height: 22px;
}
.buyinfo td .Numinput {
    padding-left: 0;
}
.buyinfo td.goodsScore {
    padding-left: 15px;
}
.buyinfo td.goodsScore #goodsScore {
    color: #FF0000;
}
.pageMain .GoodsInfoWrap .goodsprops {
    border: 0 none;
    margin: 0;
    padding: 0 0 0 10px;
}
.pageMain .GoodsInfoWrap .goodsprops li {
    color: #666666;
    height: 25px;
    line-height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.pageMain ul.goods-price {
    margin: 0;
    padding: 0 0 5px 10px;
}
.pageMain ul.goods-price li {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.pageMain .GoodsInfoWrap .goodsprops li .price1 {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}
.pageMain .GoodsInfoWrap .goodsname {
    border-bottom: 1px solid #CCCCCC;
}
.TABLE_2s {
    border-bottom: 2px solid #BE0000;
    height: 27px;
    line-height: 27px;
}
.TABLE_2s ul li {
    background: url("images/TABLE_2s.png") repeat scroll left bottom transparent;
    display: inline;
    float: left;
    margin-right: 2px;
    padding-left: 15px;
}
.TABLE_2s ul li h3 {
    background: url("images/TABLE_2s.png") repeat scroll right bottom transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 27px;
    margin: 0;
    padding: 0 15px 0 0;
    white-space: nowrap;
}
.TABLE_2s ul li.visited {
    background: url("images/TABLE_2s.png") repeat scroll left top transparent;
}
.TABLE_2s ul li.visited h3 {
    background: url("images/TABLE_2s.png") repeat scroll right top transparent;
    color: #FFFFFF;
}
.TRANSFORM .cxjinfo {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E5E5E5;
    margin: 0;
    padding: 5px;
}
.TRANSFORM .GoodsPackageWrap .itemwrap {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    height: 160px;
    max-height: none;
    overflow-y: hidden;
    padding: 10px;
    width: 70%;
}
.TRANSFORM .priceinfo {
    padding-top: 15px;
}
.TRANSFORM .priceinfo li {
    line-height: 25px;
}
.TRANSFORM .price1 {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
}
.TRANSFORM .price1 span {
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.TRANSFORM a.btn_pkg_buy {
    background: url("images/btn_pkg_buy.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 81px;
}
.TRANSFORM .cxjinfo .item {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.TRANSFORM .cxjinfo .itemwrap .goodpic img {
    height: 100px;
    width: 100px;
}
.TRANSFORM .cxjinfo .itemwrap dl dd {
    clear: both;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.TRANSFORM .cxjinfo .itemwrap dl dd a {
    color: #666666;
    height: 22px;
    line-height: 22px;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}
.TRANSFORM .cxjinfo .itemwrap dl dd .fontbold {
    color: #FF6600;
    font-weight: normal;
}
.TRANSFORM .cxjinfo .plus {
    color: #CF0000;
}
.pdtdetail .goodsprop_ultra {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #EEEEEE;
    clear: both;
    margin-top: 10px;
    padding: 10px;
}
.pdtdetail .goodsprop_ultra .span-4 {
    line-height: 25px;
}
.pdtdetail .goodsprop_ultra .span-4 a {
    color: #999999;
}
.pdtdetail .goodsprop_ultra .span-4 a:hover {
    color: #FF0000;
}
.xgsp .GoodsList {
    padding-top: 10px;
}
.xgsp .GoodsList .item {
    background: url("images/prcbg.png") no-repeat scroll center top transparent;
    padding: 2px 0 10px;
}
.xgsp .GoodsList .pic {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.xgsp .GoodsList .pic a img {
    height: 120px;
    width: 150px;
}
.xgsp .GoodsList .info {
    line-height: 22px;
    margin: auto;
    text-align: center;
    width: 150px;
}
.xgsp .GoodsList .price {
    color: #CA0000;
    font-weight: bold;
}
.xgsp .GoodsList .price1 {
    color: #CA0000;
    font-weight: bold;
}
.helppage .pageSide {
    width: 190px;
}
.helppage .pageSide .TreeList {
    background: url("images/helpbg.png") repeat-y scroll left top transparent;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    padding-left: 10px;
    width: 170px;
}
.helppage .pageSide .TreeList .cat1 {
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 10px 0 0;
    text-indent: 10px;
}
.helppage .pageSide .TreeList .cat1 a {
    color: #000000;
	font-weight:bold;
}
.helppage .pageSide .TreeList .cat2 {
    clear: both;
    height: 28px;
    margin: 0;
    padding: 0;
}
.helppage .pageSide .TreeList .cat2 a {
    color: #666666;
    display: block;
    line-height: 28px;
    text-indent: 10px;
}
.helppage .pageSide .TreeList .cat2 a.avisited {
    background: url("images/hvi.png") no-repeat scroll right top transparent;
    color: #CA0000;
}
.helppage .pageSide .TreeList .cat2 a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.helppage .pageMain {
    border: 1px solid #E1E1E1;
    margin: 0;
    padding: 0;
    width: 788px;
}
.helppage .pageMain .pageWrap {
    padding: 40px 10px 10px;
    position: relative;
}
.helppage .pageMain .pageWrap H2 {
    background: none repeat scroll 0 0 #EDF6FB;
    border-bottom: 1px solid #E1E1E1;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: 15px;
    top: 0;
    width: 788px;
}
.PassportWrap {
    border: 1px solid #CCCCCC;
    margin-top: 15px;
}
.loginpage {
    padding: 15px;
    position: relative;
}
.loginpage_title {
    background: url("images/loginbg.png") repeat-x scroll left top transparent;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
    width: 100%;
}
.RegisterWrap_l {
    background: url("images/loginbg1.png") no-repeat scroll right center transparent;
    float: left;
    margin: 0;
    padding: 0;
    width: 55%;
}
.RegisterWrap_r {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 40%;
}
.loginpage .RegisterWrap .form {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
}
.loginpage .RegisterWrap .form td {
    line-height: 30px;
    padding-top: 10px;
}
.loginpage .RegisterWrap .form td a {
    color: #666666;
    text-decoration: underline;
}
.loginpage .RegisterWrap .form .inputstyle {
    border: 1px solid #BBBBBB;
    height: 18px;
    line-height: 18px;
    width: 246px;
}
.loginpage .RegisterWrap .form #iptlogin {
    width: 66px;
}
.loginpage .RegisterWrap #formlogin {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
}
.loginpage .RegisterWrap .form td.lobtn {
    padding-left: 100px;
}
.loginpage .RegisterWrap .form td.lobtn .btn-login {
    background: url("images/logobtn.png") no-repeat scroll left top transparent;
    height: 34px;
    margin-bottom: 12px;
    margin-top: 0;
    width: 137px;
}
.login_message {
    background: url("images/login_message.png") no-repeat scroll center top transparent;
    clear: both;
    color: #666666;
    line-height: 22px;
    margin: auto;
    padding-top: 15px;
    width: 75%;
}
.login_message h3 {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.login_message td.sss {
    padding-right: 15px;
}
.login_message p {
    padding-left: 15px;
}
.login_message .regbtn {
    clear: both;
    padding-top: 27px;
}
.login_message .regbtn a {
    background: url("images/regbtn.png") no-repeat scroll left top transparent;
    color: #5F2300;
    display: block;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 84px;
}
.loginimgs {
    background: url("images/loginimgs.png") no-repeat scroll left top transparent;
    height: 176px;
    width: 334px;
}
.xrdl {
    height: 35px;
    overflow: hidden;
}
.loginpage .RegisterWrap #formthridlogin {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
}
.xrdl .msss {
    float: left;
    line-height: 35px;
    padding-right: 15px;
}
.xrdl #formthridlogin {
    float: left;
}
.loginpage .dialog-close-btn {
    position: absolute;
    right: 6px;
    top: -30px;
}
.loginpage .RegisterWrap .form #iptsingup {
    border: 1px solid #BBBBBB;
    height: 18px;
    line-height: 18px;
    width: 66px;
}
.loginpage .RegisterWrap .form .btn-register {
    background: url("images/regbtns.png") no-repeat scroll left top transparent;
    height: 32px;
    margin-bottom: 0;
    width: 177px;
}
.have_user {
    clear: both;
    text-align: center;
}
.have_user h3 {
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.have_user1 a {
    background: url("images/logobtn.png") no-repeat scroll left top transparent;
    display: block;
    height: 34px;
    margin: 0 auto auto;
    width: 137px;
}
.have_user2 {
    background: url("images/have_user2.png") no-repeat scroll center center transparent;
    clear: both;
    height: 93px;
    width: 100%;
}
.have_hzuser h3 {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.have_hzuser1 ul li {
    background-image: url("images/l1.png");
    background-repeat: no-repeat;
    float: left;
    line-height: 20px;
    padding-left: 28px;
    padding-right: 10px;
}
.have_hzuser1 ul li a {
    color: #666666;
}
.have_hzuser1 ul li.li1 {
    background-position: 0 0;
}
.have_hzuser1 ul li.li2 {
    background-position: 0 -20px;
}
.have_hzuser1 ul li.li3 {
    background-position: 0 -40px;
}
.have_hzuser1 ul li.li4 {
    background-position: 0 -60px;
}
.have_hzuser1 ul li.li5 {
    background-position: 0 -80px;
}
.giftbg {
    background: url("images/giftbg.png") no-repeat scroll left center transparent;
    height: 127px;
}
.giftbg p {
    color: #666666;
    line-height: 25px;
    margin: 0;
    padding: 10px 10px 10px 15px;
}
.giftbg p a {
    color: #1A66B3;
}
.giftbg a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.giftbg ul li {
    clear: both;
    line-height: 27px;
    text-indent: 30px;
}
.giftbg ul li a {
    color: #666666;
}
.giftbg ul li a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.giftpage .RecommendGifts {
    background: url("images/phs.png") no-repeat scroll left top transparent;
    margin: 0 auto;
    padding: 0;
    width: 95%;
}
.giftpage .RecommendGifts .goodsImg {
    display: none;
}
.giftpage .RecommendGifts h6 {
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-indent: 25px;
}
.giftpage .RecommendGifts h6 a {
    color: #1A66B3;
}
.giftpage .RecommendGifts h6 a:hover {
    color: #CA0000;
    text-decoration: underline;
}
.giftpage .RecommendGifts .item {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.aboutpoint {
    padding-left: 20px;
}
.aboutpoint a {
    color: #1A66B3;
}
.aboutpoint a:hover {
    color: #CC0000;
    text-decoration: underline;
}
.pointgz a {
    color: #BA350A;
}
.pointgz a:hover {
    color: #CC0000;
    text-decoration: underline;
}
.themefoot p{ font-size:12px; color:#999;}
.themefoot a {color:#000;}

.scroll_qq{bottom:120px; position: fixed; left:1000px; z-index:1;_position: absolute; _bottom: auto; _top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) - 1 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight) - 1); height:133px; width:40px; display:block; color:#FFFFFF; cursor:pointer;}
.scroll_div {background:url(images/scroll.png) no-repeat top center;bottom:60px; position: fixed; left:1000px; z-index:1;_position: absolute; _bottom: auto; _top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) - 1 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight) - 1); height:39px; width:40px; display:none; color:#FFFFFF; cursor:pointer;} 

* html .scroll_div {background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=corp, src='images/scroll.png');bottom:200px;
} 