@charset "utf-8";
/* CSS Document */

#nav_indx{
	background:url(images/gonggao_bg.jpg) no-repeat;
	width:789px;
	height:40px;
}
#nav_indx .gz{
	width:175px;
	padding:8px 0 0 70px;
}
#nav_indx .gz a{

}
#nav_indx .ud_nav_today {
    height: 27px;
    overflow: hidden;
    width: 72px;
	padding-top:7px;
}
#nav_indx .ud_nav_today a {
    background: url("images/addinx.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    width: 16px;
}
#nav_indx .ud_nav_today a.ud_up {
    background-position: 0 -217px;
}
#nav_indx .ud_nav_today a.ud_down {
    background-position: 0 -231px;
}
#nav_indx .ud_nav_today a.ud_up:hover {
    background-position: -18px -217px;
}

#nav_indx .ud_nav_today a.ud_down:hover {
    background-position: -18px -231px;
}
#nav_indx .nav_gonggao{
	height: 25px;
    overflow: hidden;
    width: 412px;
	margin-top: 8px;
	line-height:25px;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.nav_jylist{
	height:auto;
}
ol, ul {
    list-style: none outside none;
}
.nav_jylist .jy_ti {
    background: url("images/leftmenu_top_i.jpg") no-repeat;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 21px;
    padding: 6px 0 0 20px;
    position: relative;
    width: 162px;
    z-index: 71;
	margin-top:7px;
}
.nav_jyc {
    background: none repeat scroll 0 0 #FFF8F3;
    border-color: #FFAF71;
    border-right: 1px solid #F8D4AD;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    height: auto;
    padding: 5px;
	*padding: 5px 5px 0;
    position: absolute;
    width: 170px;
    z-index: 70;
}
.nav_jyc li {
    background: url("images/ico_jt.jpg") no-repeat scroll 156px 12px transparent;
    border-bottom: 1px solid #F9E2C9;
    border-left: 2px solid #FCF6ED;
    border-top: 2px solid #FFFFFF;
    color: #C05200;
    cursor: pointer;
    font-weight: bold;
    height: 16px;
    padding: 5px 0 6px;
	list-style:none inside none;
	margin:0;
	*margin-left:-16px;
	_margin-top:-7px;
	_margin-left:-16px;
	*height:14px;
	_height:10px;
}
.nav_jyc h2{
	margin:0 0 0 14px;
	font-weight:normal;
	text-decoration:none;
}
.nav_jyc u{
	text-decoration:none;
}
.nav_jyc li.top {
    border-top: 2px solid #FCF6ED;
}
.nav_jyc li u {
    background: url("images/ico_list.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding-left: 26px;
}
.nav_jyc li u.n1 {
    background-position: 0 -21px;
}
.nav_jyc li u.n2 {
    background-position: 0px -41px;
}
.nav_jyc li u.n3 {
    background-position: 0px -61px;
}
.nav_jyc li u.n4 {
    background-position: 0px -81px;
}
.nav_jyc li u.n5 {
    background-position: 0px -101px;
}
.nav_jyc li u.n6 {
    background-position: 0px -121px;
}
.nav_jyc li u.n7 {
    background-position: 0px -142px;
}
.nav_jyc li u.n8 {
    background-position: 0px -164px;
}
.nav_jyc li u.n9 {
    background-position: 0px -184px;
}
.nav_jyc li u.n10 {
    background-position: 0px -203px;
}
.nav_jyc li u.n11 {
    background-position: 0px -221px;
}
.nav_jyc li u.n12 {
    background-position: 5px -239px;
}
.nav_jyc li u.n80 {
    background-position: 3px -8650px;
	padding-left: 43px;
}
a:link, a:visited, a:hover, a:active {
    font-family: "宋体",Arial,Helvetica,sans-serif;
    outline: medium none;
    text-decoration: none;
}
.nav_jyc li u a {
    display: inline-block;
	text-decoration: none;
}
.nav_jyc li.select { 
	background:#fff; 
	border:2px solid #F59B26; 
	border-right:0; 
	width:149px; 
	position:relative; 
	z-index:78; 
	*margin-bottom:-2px;
	padding:5px 0; 
	height:16px;
	*heigth:14px;
	_margin-top: -7px;
	_margin-left: -16px;
	_height:10px;
}
.nav_jyc li.select em { display:block; background:#fff; width:4px; position:absolute; z-index:80; height:29px; right:0; top:0; overflow:hidden }
.nav_jyc dl.submenu { position:absolute; z-index:77; border:2px solid #F59B26; border-right:2px solid #F59B26; border-bottom:2px solid #F59B26; width:385px; height:auto; background:#fff; left:145px; top:-2px; height:auto; cursor:auto; display:none }
.nav_jyc dl.submenu dt { float:left; background:#fff; padding:10px; }
.nav_jyc li.bom {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #333333;
    font-weight: normal;
    height: 19px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.nav_jyc dl.submenu dt p.walink { padding-bottom:10px; margin:5px 0 10px; font-weight:normal; padding:0px 0 0 20px }
.nav_jyc dl.submenu dt p.walink a { display:block; color:#666; float:left; width:110px; border-bottom:1px solid #f5f5f5; padding:5px 0 5px 0; }
.nav_jyc dl.submenu dt p.walink_ts a { display:block; color:#666; float:left; width:170px; border-bottom:1px solid #f5f5f5; padding:5px 0 5px 0; }
.nav_jyc dl.submenu dt p.walink a:hover { color:#FF5A00 }
.nav_jyc .submenu strong{
	color:#333;
}
#flash_ad .flash_index{
	margin:4px 7px 2px 4px;
}
#flash_ad .login_ad{
	width: 256px;
	height: 34px;
	margin-top: 4px;
}
#flash_ad .login_ad a.register{background:url("images/zhuce.gif") no-repeat;height:34px; width:121px;}
#flash_ad .login_ad a.register:hover{background:url("images/zhuce.gif") no-repeat 0 -36px;height:34px; width:121px;}
#flash_ad .login_ad a.r_login{background:url("images/login.gif") no-repeat;height:34px; width:108px;}
#flash_ad .login_ad a.r_login:hover{background:url("images/login.gif") no-repeat 0 -36px;height:34px; width:108px;}
#flash_ad .login_ad a{
	float:left;
	display:block;
}
#flash_ad .login_index{
	padding:54px 12px 0 0;
}
#flash_ad .logon_index{
	padding:54px 0px 0 10px
}
#flash_ad .logon_index b{
	line-height:20px;
}
#flash_ad .today_index{
	position:relative;
	width:229px;
	height: 194px;
	overflow-x: hidden;
}
#flash_ad .today_index ul{
	overflow: hidden;
	height:195px;
}
#flash_ad .today_index .today_tuijian{
	position:absolute;
	background:url(images/today_t.gif) no-repeat;
	left:0;
	width:56px;
	height:55px;
	z-index:2;
}
#flash_ad .today_index table,#flash_ad .today_index table td {
	width:227px;
	height:192px;
}
#flash_ad .today_index table td a{
	display:block;
	width:229px;
}
#flash_ad .today_index img{
	border:1px solid #F48A00;
	width:227px;
	height:192px;
}
#flash_ad .three_ad{
	float:right;
	width:782px;
	border:0;
	margin-right:4px;
	margin-top: 2px;
	*margin-top: 5px;
}
#flash_ad .three_ad ul li{
	float:left;
	padding-right:8px;
}
#flash_ad .three_ad ul li.tuijian_last{
	padding-right:0px;
}
#flash_ad .time{
	float:right;
	width:782px;
	position:relative;
	height:54px;
}
#body_index{
	margin-top:10px;
	*margin-top:10px;
}
#body_index .area_one{
	overflow:hidden;
	background:url(images/area_one.jpg) no-repeat 0px 0px;	
}
#body_index .area_two{
	overflow:hidden;
	background:url(images/area_two.jpg) no-repeat 0px 0px;
	margin-top:10px;
}
#body_index .area_three{
	overflow:hidden;
	background:url(images/area_three.jpg) no-repeat 0px 0px;	
	margin-top:10px;
}
#body_index .area_four{
	overflow:hidden;
	background:url(images/area_four.jpg) no-repeat 0px 0px;	
	margin-top:10px;
}
#body_index .area_five{
	overflow:hidden;
	background:url(images/area_five.jpg) no-repeat 0px 0px;	
	margin-top:10px;
}
#body_index .area_six{
	overflow:hidden;
	background:url(images/area_six.jpg) no-repeat 0px 0px;	
	margin-top:10px;
}
#body_index .area_title{
	line-height:20px;
	height:20px;
}
#body_index .area_title .more{
	float:right;
}
#body_index .area_title .more a{
	color:#666;
	padding:0 6px;
}
#body_index .area_title .more a:hover{
	color:#F48A00;
}
#body_index .area_main{
	clear:both;
}	
#body_index .area_main .main_l{
	width:240px;
	margin-top:66px;
}
#body_index .area_main .main_r{
	width:733px;
	*margin-top:10px;
}
#body_index .area_main .main_r ul li{
	float:left;
}
#body_index .new_index{
	border:1px #eee solid;
	width:338px;
	height:84px;
	margin-top:10px;
	margin-left:5px;
	*margin-top:0px;
}
#body_index .new_index .new_pic_i{
	padding-right:10px;
}
#body_index .new_index ul li{
	height:26px;
	line-height:27px;
	width:245px;
}
#body_index .ppg_index{
	width:348px;
	height:84px;
	margin-top:10px;
	*margin-top:0px;
}
#body_index .ppg_index ul{
	margin-top:8px;
}
#body_index .ppg_index ul li{
	border-right:1px #ddd solid;
	border-top:1px #ddd solid;
}
#body_index .ppg_index ul li.ppg_top{
	border-right:1px #ddd solid;
	border-top:0;
}
#body_index .ppg_index ul li.ppg_top img{ width:77px; height:29px;}
#body_index .ppg_index ul li.ppg_last{
	border-right:0;
}

#zhinan-box .block1, #zhinan-box .block2, #zhinan-box .block3 {
float: left;
width: 260px;
margin-left: 0px;
height: 69px;
position:relative;
display: block;
_display: inline;
background: url('images/index_backgrounds.jpg') no-repeat;
}
#zhinan-box .sum{
position:absolute;
top: 50px;
left: 90px;
z-index:-1;
color:#666;
}
#zhinan-box .sum span{ color:red;}
#zhinan-box .info {
height: 69px;
margin-left: 84px;
opacity: 0.8;
filter: alpha(opacity=80);
color: white;
font-size: 14px;
width: 0;
}
#zhinan-box .info p {
padding: 15px 10px;
line-height: 20px;
display: none;
}
#zhinan-box .block1 {
background-position: 0 0px;
}
#zhinan-box .block1 .info {
background: #EDB6CB;
}
#zhinan-box .block2 {
background-position: 0 -70px;
}
#zhinan-box .block2 .info {
background: #F0750E;
}
#zhinan-box .block3 {
background-position: 0 -141px;
}
#zhinan-box .block3 .info {
background: #98C522;
}
.pro_img{ overflow:hidden;}
.pro_img li{ width:182px;height: 152px;}

.login_in {
padding:54px 12px 0 0;
}
.login_in a {
display: block;
background: white url(images/addinx.gif) no-repeat 15px -316px;
padding: 11px 0 7px 23px;
float:none;
font-size: 12px;
font-weight: normal;
color: #333;
height: 18px;
margin: 0;
width: 85px;
_width: 95px;
}
.login_in span {
float: left;
width: 4px;
color: #CCC;
background: white;
height: 18px;
display: block;
padding: 11px 0 7px 5px;
}

.time_left{width:190px; height:54px;position: relative;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;}

#focus {width:523px; height:285px; overflow:hidden; position:relative;}
#focus ul {height:285px; position:absolute;}
#focus ul li {float:left; width:523px; height:285px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:523px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:503px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(images/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;}

.commitment{border:1px solid #e3dbc4; width:252px;height:94px;}

.userlogin{background:url("images/userloginbg.gif" ) no-repeat; width:254px; height:189px;}
.userloginword{padding: 9px 0 0 28px;}
.userloginurl{padding: 15px 0 0 28px;}
.userlogintel{padding:9px 0 0 45px;}

.new_one{background:url("images/ge_line.gif") no-repeat 0 300px; height:310px; width:971px;}
.tuijian{width:672px; height:288px; border-top:2px solid #eb6702; }
.tuijian ul{clear:both;height:42px;}
.tuijian ul li {float:left;}
.tuijian ul li a{display:block; width:166px;height:40px; text-align:center; line-height:40px; font-size:18px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; font-family: 微软雅黑;}
.tuijian ul li a.hover{border-bottom:0px;}
.show_cur{border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;width:670px;height:248px;}
.hidden{display:none;}
.show_cur dl dd{float:left;padding: 20px 0px 10px 18px;width: 145px;}
.show_cur dl dd p{line-height:22px;}

.chuxiao{width:285px; height:288px;  border-top:2px solid #eb6702;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.chutitle{line-height:32px;font-size:14px;border-bottom:1px solid #ccc; padding-left:20px; font-family: 微软雅黑;}
.settime{margin:0 auto;width:190px; border-bottom:1px solid #ccc; line-height:27px;font-size:14px; font-weight:bold;color:#505050; text-align:center;font-family: 微软雅黑;}
.settime span{font-size:14px;font-family: 微软雅黑;}

.showpro{border:1px solid #ccc; overflow:hidden;margin-bottom: 10px;}
.stitle{background:url('images/stitle_bg.gif') 18px 0 no-repeat; width:946px; height:35px;clear: both;}
.stitle .fl{font-size:16px;font-family: 微软雅黑; line-height:35px; padding-left:35px; color:#ed771d; float:left;}
.stitle .sl{line-height:42px; padding-left:20px;float:left;}

.tabBut {
padding: 11px 6px 0;
}
.fr {
float: right;
}
.tabBut a.prev, .tabBut a.next {
float: left;
width: 13px;
height: 13px;
background: url(images/index_bg.gif) no-repeat;
cursor: pointer;
}
.tabBut a.prev {
background-position: -348px -69px;
margin-right: 6px;
}
.tabBut a.next {
background-position: -361px -69px;
}
.tabBut b {
float: left;
width: 11px;
height: 11px;
background: url(images/index_bg.gif) no-repeat -419px -70px;
margin: 1px 6px 0 0;
cursor: pointer;
}
.tabBut b.tabOn {
background-position: -402px -70px;
}
.sbox {
padding-top: 6px;
position: relative;
width:680px;
}
.new_ul {
display: block;
height: 225px;
text-align: center;
width: 150px;
float: left;
margin-left: -1px;
padding: 0 3px 0 18px;
}
.new_img {
position: relative;
padding-bottom: 10px;
}
.new_ul li {
width: 130px;
text-align: left;
}
.new_ul li a {
line-height: 18px;
}
.new_ul span {
color: #C90809;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
line-height: 22px;
}

.top-pro{
height: 410px;

position: relative;
width:272px;}
.pro_ad{padding:10px 0px 0 0;}
.pro_ad dl{width:255px;border:1px solid #bfbfbf;}
.pro_ad dd{line-height:23px; background:url(images/index_ioc.gif) 5px 5px no-repeat; padding-left:30px;}
.pro_ad dd.bottomline{border-bottom:1px solid #bfbfbf;}

.fc_sale_rank {
padding: 0 11px 0 1px;
width: 255px;
}
.fc_sale_rank h3 {

line-height: 26px;
border-bottom: solid 1px #F2F2F2;
text-indent: 12px;
font-family: "Microsoft YaHei";
font-size: 14px;
font-weight: normal;
}
.sr_list {
padding-top: 0px;
}
.floor_con .fc_sale_rank ul li .tit {
height: 29px;
white-space: nowrap;
line-height: 18px;
}
.floor_con .fc_sale_rank ul li {
border-bottom: dashed 1px #D9D9D9;
}
.floor_con .fc_sale_rank ul li em {
width: 18px;
height: 17px;
margin-top: 7px;
margin-left: 10px;
color: white;
background: url(images/mallallbg.png) no-repeat -181px -304px;
text-align: center;
line-height: 17px;
font-weight: bold;
}
.floor_con .fc_sale_rank ul .hover em {
background-position: -181px -321px;
}
.floor_con .fc_sale_rank ul li .tit a {
color: #666;
margin-top: 7px;
margin-left: 5px;
width:215px;
overflow: hidden;
}
.floor_con .fc_sale_rank ul .hover .tit a {
color: #ED145B;
}
.floor_con .fc_sale_rank ul li .tit {
height: 29px;
white-space: nowrap;
line-height: 18px;
}
.floor_con .fc_sale_rank ul li {
border-bottom: dashed 1px #D9D9D9;
clear:both;
overflow: hidden;
padding-bottom: 0px;
line-height:18px;
}
.floor_con .fc_sale_rank ul .hover .tit {
white-space: normal;
height: 32px;
}
.floor_con .fc_sale_rank ul .sr_con {
display: none;
padding-left: 18px;
padding-bottom: 3px;
overflow: hidden;
}
.floor_con .fc_sale_rank ul .hover .sr_con {
display: block;
}
.floor_con .fc_sale_rank ul li .sr_con .sr_img {
display: block;
width: 95px;
height: 95px;
float: left;
}
.floor_con .fc_sale_rank ul li .sr_con .sr_img img {
width: 95px;
height:95px;
}
.floor_con .fc_sale_rank ul li .sr_con .text {
color: #ED145B;
height: 14px;
padding: 6px 0;
overflow: hidden;
margin-left: 107px;
}
.floor_con .fc_sale_rank ul li .sr_con p {
color: #666;
margin-left: 107px;
height: 21px;
}
.fl {
float: left;
display: inline;
}
