@CHARSET "utf8";
#bigpic{
	background:url(images/bigpic_bg.gif) repeat-x;
	margin-top: -4px;
}

.bigpic_starbaby{
	background:url(images/bigpic_starbaby.gif) no-repeat;
	width:990px;
	height:243px;
	position: relative;
}
.bigpic_btn{
	background:url(images/bigpic_btn.gif) no-repeat;
	width:195px;
	height:27px;
	top:160px;
	left:40px;
	position: absolute;
	text-align:center;
}
.bigpic_btn a, .bigpic_btn a:hover{
	width:195px;
	height:27px;
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	line-height:27px;
}
#starbaby{
	background:#ffecee;
	overflow:hidden;
	border:1px solid #dcdddf;
}
.starbaby_nav{
	background:url(images/nav_bg.gif) 0 15px no-repeat;
	padding-top:15px;
	overflow:hidden;
	clear:both;
}
.starbaby_navul{
	height:33px;
	padding-left:45px;
	width:840px;
	float:left;
}
.starbaby_navul li{
	float:left;
	padding:0 10px;
	line-height:33px;
}
.starbaby_navul li a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.starbaby_navul li a:hover{
	color:#fff;
	text-decoration: underline;
}
.starbaby_navmore{
	width:100px;
	float:right;
	text-align:center;
}
.starbaby_navmore a{
	color:#fff;
	line-height:33px;
}
.starbaby_navmore a:hover{
	color:#fff;
	text-decoration: underline;
}
#starbaby .bd {
	width: 990px;
	padding-top: 10px;
	margin-left: -10px;
	_margin-left: -20px;
}
.baobaos {
	width: 1010px;
}
.baobaos li {
	float: left;
	margin-left: 10px;
	width: 190px;
}
.baobaos .list-con {
padding-bottom: 8px;
background-color: white;
border: 1px solid white;
padding-top: 190px;
*padding-top: 0px;
_padding-top: 0px;
border-image: initial;
}
.baobaos li .img {
width: 170px;
height: 170px;
margin-top: -190px;
*margin-top: 0px;
_margin-top: 0px;
}
.baobaos li .baobao-btn, .baobaos li .img, .baobaos li .comment, .baobaos li .text {
padding-left: 9px;
padding-right: 9px;
overflow: hidden;
padding-top: 10px;
_zoom: 1;
}
.baobaos .hover .list-con, .baobaos li:hover .list-con {
border-color: #F78499;
}
#content a {
color: #57AACC;
outline: none;
}
.baobaos img {
display: block;
}
.baobaos .hover .tape, .baobaos .hover .says, .baobaos li:hover .tape, .baobaos li:hover .says {
display: block;
}
.baobaos .says {
position: absolute;
color: white;
line-height: 14px;
display: none;
}
.baobaos .says {
color: white;
line-height: 14px;
}
.baobaos .says .bg {
background-color: black;
filter: Alpha(opacity=50);
-moz-opacity: .5;
opacity: .5;
position: absolute;
width: 170px;
height: 45px;
display: block;
left: 0;
bottom: 0;
z-index: 1;
}
.baobaos .says .an {
position: absolute;
z-index: 10;
left: 8px;
width: 154px;
bottom: 8px;
height: 28px;
overflow: hidden;
}
.baobaos .says .an i {
width: 13px;
height: 9px;
display: inline-block;
background-position: -330px -100px;
margin-right: 2px;
*position: absolute;
*top: 2px;
_position: absolute;
_top: 2px;
}
.baobaos .shadow, .baobaos .says .an i, .baobaos li .baobao-btn a {
background-image: url(images/t1.png);
background-repeat: no-repeat;
}
.baobaos .says .an b {
color: #F78499;
font-weight: 400;
*padding-left: 15px;
_padding-left: 15px;
}
.baobaos .tape {
width: 73px;
height: 25px;
position: absolute;
margin-left: 50px;
margin-top: -180px;
display: none;
}
.baobaos .tape {
background-image: url(images/t2.png);
background-repeat: no-repeat;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="http://www.3330777.com/themes/yingge/starbaby/images/t2.png");
_background: 0;
}

.baobaos .tips {
position: absolute;
margin-top: -170px;
padding: 16px 0 0 7px;
width: 30px;
height: 24px;
font-weight: 700;
color: white;
}
.baobaos .tips {
background-image: url(images/t3.png);
background-repeat: no-repeat;
_background: 0;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="http://www.3330777.com/themes/yingge/starbaby/images/t3.png");
}
.baobaos li .text {
color: #333;
font-weight: 700;
}
.baobaos .text .l {
display: block;
float: left;
height: 19px;
width: 120px;
overflow: hidden;
}
.baobaos li .text b {
color: #DD466A;
font-family: simsun,'u5b8bu4f5353';
}
.baobaos .text .r {
display: block;
float: right;
text-align: right;
line-height: 20px;
white-space: nowrap;
}
.baobaos .shadow, .baobaos .says .an i, .baobaos li .baobao-btn a {
background-image: url(images/t1.png);
background-repeat: no-repeat;
}
.baobaos .shadow {
overflow: hidden;
margin-bottom: 4px;
width: 190px;
height: 11px;
background-position: 0 -168px;
}